# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local Dev Files
.DS_Store
.idea

# Ignore temporary katalyze output

katalyze/output

# Dependency directories (remove the comment below to include it)
# vendor/

tmp

# Ignore server binary
/server/server


# Terraform
tf/.terraform
tf/*.plan
tf/*.state

# katago analysis/gtp logs
analysis.log
gtp.log
